{% extends 'base.html.twig' %}

{% block title %}Materiel index{% endblock %}

{% block body %}
    <img class="d-block m-auto" src="https://marquedigitale.fr/wp-content/uploads/2020/05/logo-marquedigitale.svg" alt="Logo Marque Digitale">

    <div class="position-absolute start-0 top-0 m-1">
        <a href="https://github.com/olivier-maurel/md-test-api" target="_blank" title="Se diriger vers le repository GitHub de mon premier essai : tentative de génération automatique d'une base de donnée." class="btn btn-sm btn-primary">1erGit</a>
        <a href="https://github.com/olivier-maurel/test-marquedigitale" target="_blank" title="Se diriger vers le repository GitHub de mon deuxième essai (celui-ci) : la base de donnée ainsi que les tables ne sont pas généré automatiquement mais les insertions le sont. La barre de recherche est en asynchrone et il est possible de cliquer sur un produit pour obtenir 'plus' d'informations." class="btn btn-sm btn-primary">2emeGit</a>
        <a href="{{ asset('assets/files/database.sql') }}" title="Obtenir le fichier SQL de la base de donnée" class="btn btn-sm btn-success">SQL File</a>
        <a href="{{ asset('assets/files/schema-db.pdf') }}" target="_blank" title="Le schema de la base de donnée" class="btn btn-sm btn-warning">SchemaDB</a>
        <a href="{{ asset('assets/files/readme.md') }}" title="Un petit texte explicatif sur ma démarche pour répondre à la mission" class="btn btn-sm btn-info">ReadMe</a>
    </div>

    <button class="btn btn-sm btn-danger position-absolute end-0 top-0 m-1" id="generate" title="Attention! Vous êtes sur le point de regénérer la base de donnée, les tables seront vidés puis les données seront réinsérées. Pour plus d'info -> 'src/Service/HydrationService'">Regénérer la base de donnée</button>

    {{ form_start(form) }}
        <div class="">
            <div class="m-auto my-5 p-2" style="width: max-content; background-color: #c18484;">
                <div class="d-flex justify-content-center">
                    {{ form_row(form.search) }}
                </div>
                <div class="d-flex justify-content-center">
                    {{ form_row(form.famille) }}
                    {{ form_row(form.marque) }}
                </div>
            </div>
        </div>
    {{ form_end(form) }}

    <div class="content-table">
        {% include 'materiel/table.html.twig' %}
    </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>

    $(document.body).on('change', '.search-item', function(){
        setFormData();
    });
    $(document.body).on('keyup', '.search-item', function(){
        setFormData();
    });

    $(document.body).on('click', 'tr[data-id]', function(){      
        $.post("{{ path('materiel_show') }}", {'id': $(this).attr('data-id')}, function(data){
            $('.modal-content').html(data);
        });
    });

    $(document.body).on('click', '#generate', function(){      
        $.post("{{ path('materiel_hydrate') }}", function(data){
            $('.content-table').html(data);
            $('#dbAlert').removeClass('d-none');
            setTimeout(function() {
                $('#dbAlert').addClass('d-none');
            }, 5000);
        });
    });

    function setFormData()
    {
        $formData = new FormData();
        $formData.append('search', $('#materiel_form_search').val());
        $formData.append('famille', $('#materiel_form_famille').val());
        $formData.append('marque', $('#materiel_form_marque').val());
       
        $.ajax({
          method: "POST",
          url: "{{ path('materiel_search') }}",
          cache: false,
          contentType: false,
          processData: false,
          data: $formData
        }).then(function(result){
            $('.content-table').html(result);
        });
    }



</script>
{% endblock %}
