<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ materiel.id }}</td>
        </tr>
        <tr>
            <th>Nom_court</th>
            <td>{{ materiel.nomCourt }}</td>
        </tr>
        <tr>
            <th>Nom</th>
            <td>{{ materiel.nom }}</td>
        </tr>
        <tr>
            <th>Marque</th>
            <td>{{ materiel.marque }}</td>
        </tr>
        <tr>
            <th>Prix_public</th>
            <td>{{ materiel.prixPublic }}</td>
        </tr>
        <tr>
            <th>Reference_fabricant</th>
            <td>{{ materiel.referenceFabricant }}</td>
        </tr>
        <tr>
            <th>Debut Commercialisation</th>
            <td>{{ materiel.debutCommercialisation }}</td>
        </tr>
        <tr>
            <th>Fin Commercialisation</th>
            <td>{{ materiel.finCommercialisation }}</td>
        </tr>
    </tbody>
</table>